//- BASE MIXINS
  //- connection files
mixin styles(...files)
  each file in files
    link(rel="stylesheet" href=file)
mixin scripts(...files)
  each file in files
    script(src=file)
  //- layout
mixin with_sidebars()
  .container
    h1.main-title #{title}
    if sidebar_right || sidebar_left
      .page__layout
        .page__content
          block content
        include ../_sidebar.jade
    else
      block content
  //- nav links
mixin main_menu(class_menu)
  -var class__list = class_menu+'__list'
  -var class__item = class_menu+'__item'
  -var class__link = class_menu+'__link'
  block main_menu
  ul(class=class__list class!=attributes.class)
    if v_main_menu[0] !== undefined
      each key in v_main_menu
        if active_menu === key
          li(class=class__item class=class__item+'_active')
            a(class=class__link href="#")
              span= key
        else
          li(class=class__item)
            a(class=class__link href="#")
              span= key
    else
      each val, key in v_main_menu
        if active_menu === key
          li(class=class__item class=class__item+'_active')
            a(class=class__link href=val)
              span= key
        else
          li(class=class__item)
            a(class=class__link href=val)
              span= key

//- HELPERS MIXINS
mixin email(email,icon)
  a(href="mailto:"+email, class!=attributes.class)
    if icon
      span(class=icon)
      | 
    | #{email}
mixin img_radius(attr)
  span.radius_img
    span.radius_img__wrap
      img(src=attr alt="")
mixin li(...items)
  each item in items
    li= item
mixin li_a(...items)
  each item in items
    li: a(href="")= item
