//- BASE MIXINS
mixin body_multipage()
  body.page(
    class = home?'page_home':'page_post'
    class = sidebar_left?'page_sidebar_left':''
    class = sidebar_right?'page_sidebar_right':''
    class=body_classes
  )
mixin with_sidebars()
  .container
    h1.main-title #{title}
    if sidebar_right || sidebar_left
      .page__layout
        .page__content
          block content
        include ../_sidebar.jade
    else
      block content
  //- connection files
mixin styles(...files)
  each file in files
    link(rel="stylesheet" href=file)
mixin scripts(...files)
  each file in files
    script(src=file)
  //- nav links
//- MULTI MENU
mixin multiSubmenu(data, nav_class)
  ul(class='#{nav_class}-submenu')
    each item in data
      li(class='#{nav_class}-submenu__item')
        a(href="#{item.url}" class='#{nav_class}-submenu__link')
          span= item.val
mixin multiMenu(data, nav_class, dropdown)
  //- Example: +multiMenu(menu_obj, 'class-menu')
  nav(class='#{nav_class}')&attributes(attributes)
    ul(class='#{nav_class}__list')
      each item in data
        - var itemClasses = [nav_class+'__item']
        if (item.submenu && dropdown)
          - itemClasses.push(itemClasses[0] + '_dropdown')
        li( class=itemClasses, class={active: active_menu === item.val} )
          a(href="#{item.url}" class='#{nav_class}__link')
            span= item.val
          if (item.submenu && dropdown)
            div(class='#{nav_class}__submenu')
              +multiSubmenu(item.submenu, nav_class)


//- HELPERS MIXINS
mixin email(email,icon)
  a(href="mailto:"+email, class!=attributes.class)
    if icon
      i(class=icon)
      | 
    | #{email}
mixin imgRadius(attr)
  span&attributes(attributes)
    span
      img(src=attr alt="")
mixin navItems(obj)
  //- Example: +navItems(v_foot_menu)
  each link, val in obj
    li: a(href=link)= val
mixin ulLiA(...items)
  each item in items
    li: a(href="#")= item

