//- BASE MIXINS
  //- connection files
mixin styles(...files)
  each file in files
    link(rel="stylesheet" href=file)
mixin scripts(...files)
  each file in files
    script(src=file)
  //- nav links

//- MULTI MENU
mixin multiSubmenu(data, navСlass)
  ul(class='#{navСlass}-submenu')
    each item in data
      li(class='#{navСlass}-submenu__item')
        = '\n'
        a(href="#{item.url}" class='#{navСlass}-submenu__link')
          span= item.val
mixin multiMenu(data, navСlass, dropdown)
  //- Example: +multiMenu(menu_obj, 'class-menu')
  nav(class='#{navСlass}')&attributes(attributes)
    ul(class='#{navСlass}__list')
      each item in data
        - var itemClasses = [navСlass+'__item']
        if (item.submenu && dropdown)
          - itemClasses.push(itemClasses[0] + '_dropdown')
        li( class=itemClasses, class={active: activeMenu === item.val} )
          = '\n'
          a(href="#{item.url}" class='#{navСlass}__link')
            span= item.val
          if (item.submenu && dropdown)
            div(class='#{navСlass}__submenu')
              +multiSubmenu(item.submenu, navСlass)
